<!-- Modal para unirse a una clase -->
<html>
<div class="modal fade" id="Comentario{{a.0}}" tabindex="-1" aria-labelledby="joinClassModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="joinClassModalLabel">Editar comentario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center mt-1 mb-1">
                <form action="{% url 'editarComentario' a.0 codigo %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <textarea name="comentariopost" class="form-control" rows="5" placeholder="Comenta..." required>{{a.1}}</textarea>
                    </div>
                    <button class="boton_unirse" type="submit"><i class="bi bi-floppy"></i> Guardar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

</html>