<div class="modal" id="notificaciones">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Notificación</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div>
                    <div>Felicidades!! <br>     
                    Tu trabajo: "ETL y bases de datos" a sido selecionado para publicarse como articulo</div>
                    <div>Recibido 1/05/24 a las 10:00 hrs</div>
                </div>
            </div>  

            {% comment %} <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary me-2"><a href="{% url 'CrearArticulo' %}" class="text-decoration-none text-white">Siguiente</a></button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div> {% endcomment %}
<br><br>
        </div>
    </div>
</div>