{% load static %}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="modal" id="nuevoProyecto">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Nuevo proyecto</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'crearProyecto' %}" onsubmit="disableButtons()" method="post" class="was-validated">
                    {% csrf_token %}
                    <div class="mb-3 mt-3">
                        <label for="uname" class="form-label">Nombre del proyecto:</label>
                        <input type="text" class="form-control" placeholder="Titulo del proyecto" name="nombre" required>
                        <div class="valid-feedback"><span class="material-symbols-outlined">check_circle</span></div>
                        <div class="invalid-feedback">Dato requerido.</div>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="uname" class="form-label">Materia:</label>
                        <input type="text" class="form-control" placeholder="Materia relacionada al proyecto" name="materia">
                        <div class="valid-feedback"><span class="material-symbols-outlined">check_circle</span></div>
                        <div class="invalid-feedback">Dato requerido.</div>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="uname" class="form-label">Descripción:</label>
                        <textarea class="form-control" placeholder="Describe el proyecto" name="descripcion" required></textarea>
                        <div class="valid-feedback"><span class="material-symbols-outlined">check_circle</span></div>
                        <div class="invalid-feedback">Dato requerido.</div>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="uname" class="form-label">Fecha de inicio del proyecto:</label>
                        <input type="date" class="form-control fecha-inicio1" name="fecha_inicio" required>
                        <div class="valid-feedback"><span class="material-symbols-outlined">check_circle</span></div>
                        <div class="invalid-feedback">Dato requerido.</div>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="uname" class="form-label">Fecha de fin del proyecto:</label>
                        <input type="date" class="form-control fecha-fin1" name="fecha_fin" required>
                        <div class="valid-feedback"><span class="material-symbols-outlined">check_circle</span></div>
                        <div class="invalid-feedback">Dato requerido.</div>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="uname" class="form-label">Ciclo escolar:</label>
                        <input type="text" class="form-control" placeholder="Mayo-Agosto 2024" name="ciclo_escolar" required>
                        <div class="valid-feedback"><span class="material-symbols-outlined">check_circle</span></div>
                        <div class="invalid-feedback">Dato requerido.</div>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="uname" class="form-label">Color distintivo:</label>
                        <select class="form-select" name="color">
                            <option value="azul">Azul</option>
                            <option value="azulOscuro">Azul Oscuro</option>
                            <option value="celeste">Celeste</option>
                            <option value="chocolate">Chocolate</option>
                            <option value="dorado">Dorado</option>
                            <option value="purpura">Púrpura</option>
                            <option value="violeta">Violeta</option>
                            <option value="rosa">Rosa</option>
                            <option value="rojo">Rojo</option>
                            <option value="rojoOscuro">Rojo Oscuro</option>
                            <option value="salmon">Salmón</option>
                            <option value="verde">Verde</option>
                        </select>
                    </div>
                    <button class="btn btn-primary submitBtn">Crear</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
<script src="{% static 'javascripts/Modals/NuevoProyecto.js' %}"></script>


