<!-- Modal para unirse a una clase -->
<html>
<div class="modal fade" id="SelecionarNuevo" tabindex="-1" aria-labelledby="joinClassModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="joinClassModalLabel">Selecciona uno</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center mt-1 mb-1">
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoProyecto" href="">
                    <i class="bi bi-journal-plus"></i> Crear proyecto
                </a>
                <a class="btn btn-secondary mt-1 mb-1" data-bs-toggle="modal" data-bs-target="#joinClassModal" href="">
                    <i class="bi bi-person-fill-add"></i> Unirse a un proyecto
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

</html>