<!-- Modal para enlaces -->
{% load static %}
<div class="modal fade" id="Archivos{{ archivo.0 }}" tabindex="-1" aria-labelledby="joinClassModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="joinClassModalLabel">Archivo: {{ archivo.1 }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center mt-1 mb-1">
                {% if archivo.5 == "pdf" %}
                    <embed src="{% get_media_prefix %}{{ archivo.2 }}" type="application/pdf" style="width:100%; height:500px;">
                {% elif archivo.5 == "pptx" or archivo.5 == "docx" %}
                    <iframe src="https://view.officeapps.live.com/op/view.aspx?src='{{ host }}{% get_media_prefix %}{{ archivo.2 }}'" style="width:100%; height:500px;"></iframe>
                {% elif archivo.5 == "png" or archivo.5 == "jpeg" or archivo.5 == "jpg" or archivo.5 == "gif" or archivo.5 == "apng" or archivo.5 == "ico" or archivo.5 == "cur" or archivo.5 == "jfif" or archivo.5 == "pjpeg" or archivo.5 == "pjp" or archivo.5 == "svg" %}
                    <img src="{% get_media_prefix %}{{ archivo.2 }}" alt="{{ archivo.1 }}" style="width:100%; ">
                {% else %}
                    <p>Puede haber problemas para visualizar el contenido</p>
                    <embed src="{% get_media_prefix %}{{ archivo.2 }}" style="width:100%; height:500px;">
                {% endif %}
                <p class="mt-2"><a href="{% get_media_prefix %}{{ archivo.2 }}" class="boton_unirse"><i class="bi bi-box-arrow-up-right"></i> Ver archivo</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>