{% extends 'layouts/baseAdmin.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del Profesor</title>
    <link rel="stylesheet" href="{% static 'css/Proyectos/EditDatosProfesor.css' %}">

</head>
<body>
    {% include "layouts/ClaseBase.html" %}
    <div class="container mt-5">
        <h1 class="mb-4">Datos del Profesor</h1>
        <div class="card mb-3">
            <div class="card-header titulo">
                <h2 style="color: white;">{{ profesor.nombre }} {{ profesor.apellidos }}</h2>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" id="profesorForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="trayectoria_academica" class="form-label">Trayectoria Académica</label>
                        {{ form.trayectoria_academica|attr:"class:form-control"|attr:"disabled:true" }}
                    </div>
                    <div class="mb-3">
                        <label for="trayectoria_profesional" class="form-label">Trayectoria Profesional</label>
                        {{ form.trayectoria_profesional|attr:"class:form-control"|attr:"disabled:true" }}
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        {{ form.descripcion|attr:"class:form-control"|attr:"disabled:true" }}
                    </div>
                    <div class="mb-3">
                        <label for="gustos_personales" class="form-label">Gustos Personales</label>
                        {{ form.gustos_personales|attr:"class:form-control"|attr:"disabled:true" }}
                    </div>
                    <div class="mb-3">
                        <label for="imagen" class="form-label">Nueva Foto</label>
                        {{ form.imagen|attr:"class:form-control"|attr:"disabled:true" }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Imagen Actual</h5>
                                    <img src="{{ profesor.imagen.url }}" class="card-img-top img-thumbnail rounded" alt="Imagen del profesor">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card" id="previewCard" style="display:none;">
                                <div class="card-body">
                                    <h5 class="card-title">Imagen Nueva</h5>
                                    <img id="imagenPreview" src="#" alt="Vista previa de la imagen" class="card-img-top img-thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-end">
                        <button type="button" id="editButton" class="btn btn-primary me-2">Editar</button>
                        <button type="submit" id="saveButton" class="btn btn-success me-2" style="display:none;">Guardar</button>
                        <button type="button" id="cancelButton" class="btn btn-danger" style="display:none;">Cancelar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'javascripts/Proyectos/EditDatosProfesor.js' %}"> </script>
    {% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                title: 'Éxito',
                text: "{{ m }}",
                icon: 'success',
                showConfirmButton: false,
                timer: 5000, // Cerrar después de 5 segundos
                allowOutsideClick: true, // Permitir clics fuera del SweetAlert
            });
        </script>
    {% endfor %}
    {% endif %}

</body>
</html>
{% endblock %}