{% extends 'layouts/baseAdmin.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/Proyectos/ProyectoDetail.css' %}" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% include "pages/Modals/AgregarEnlaceAnuncio.html" %}
{% include "layouts/ClaseBase.html" %}
{% include "pages/Modals/InvitarPersonas.html" %}
<div class="titulo">
  <h1>FORO</h1>
</div>
<div class="row">
  {% if proyectoDetails.0.8 == False %}
  <div class="col-sm-3">
    <div class="mt-2 tarjeta">
      <p class="titulo-2">Unirse a la conferencia</p>
      <button
        class="boton_unirse"
        onclick="location.href='{{proyectoDetails.0.10}}'"
      >
        Entrar
      </button>
    </div>
    {% if layout.0 == "Alumno" %}
    
    {% elif layout.0 == "Profesor" %}
    <div class="mt-2 tarjeta">
      <p class="titulo-2">Invitar alumnos y profesores</p>
      <a type="button" class="boton_unirse" href="" data-bs-toggle="modal" data-bs-target="#Invitar"><i class="bi bi-envelope-paper-heart"></i> Invitar</a>
    </div>
    {% endif %}
  </div>
  {% endif %}
  
  <div class="col mt-2">
    {% if proyectoDetails.0.8 == False %}
    <div>
      <form 
        action="{% url 'PublicarComentario' proyectoId codigo %}"
        method="post"
        onsubmit="disableButtons()"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="input-group mb-1 input-group-lg">
          <textarea
            class="form-control px-2"
            placeholder="Publica algo..."
            name="comentario"
          ></textarea>
          <button class="boton_enviar submitBtn" type="submit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="40px"
              viewBox="0 -960 960 960"
              width="40px"
              fill="#FFFFFF"
            >
              <path
                d="M120-160v-640l760 320-760 320Zm60-93 544-227-544-230v168l242 62-242 60v167Zm0 0v-457 457Z"
              />
            </svg>
          </button>
        </div>
        <div class="mb-1">
          <a type="button" class="boton_unirse" href="" data-bs-toggle="modal" data-bs-target="#Enlaces"><i class="bi bi-link-45deg"></i> Enlaces</a>
          <label for="files" class="custom-file-upload boton">
            <i class="bi bi-journals"></i> Archivos
          </label>
          <input type="file" class="archivos" id="files" name="files" multiple>
        </div>
        <div class="container mb-3">
          <ul id="enlacesList" class="list-group"></ul>
        </div>
        <div id="preview"></div>
      </form>
    </div>
    {% endif %} {% for anuncio in anuncios %}
    {% include "pages/Modals/EditarAnuncio.html" %}
    <div class="mt-2 tarjeta">
      <div class="correguir">
        <div class="icono">
          <span class="material-symbols-outlined"> account_circle </span>
        </div>
        <div class="columna">
          <div class="titulo-2">{{anuncio.4}} {{anuncio.5}}</div>
          <div class="fecha" id="utc-time">
            {{anuncio.3}}{% if anuncio.2 != anuncio.3 %} (Editado){% endif %}
          </div>
        </div>
        {% if layout.0 == "Alumno" and anuncio.6 == layout.8 and proyectoDetails.0.8 == False %}
        <div class="p-2 ms-auto comentarioConfig"><a href="{% url 'editarPostVista' anuncio.0 codigo %}" title="Editar"><i class="bi bi-pencil"></i></a> <a href="" onclick="eliminar(event, this);" data-url="{% url 'eliminarAnuncio' anuncio.0 codigo%}"><i class="bi bi-trash"></i></a></div>
        {% elif layout.0 == "Profesor" and proyectoDetails.0.8 == False %}
        <div class="p-2 ms-auto comentarioConfig"> 
        {% if anuncio.7 == layout.8 %}
            <a href="{% url 'editarPostVista' anuncio.0 codigo %}" title="Editar"><i class="bi bi-pencil"></i></a>
        {% endif %} 
        <a href="" onclick="eliminar(event, this);" data-url="{% url 'eliminarAnuncio' anuncio.0 codigo%}" class="Eliminar" title="Eliminar"><i class="bi bi-trash"></i></a></div>
      {% endif %}
      </div>
      <p class="texto">
        {{anuncio.1}}
      </p>
      <p class="texto">
      {% for e in enlaces %}
        {% for enlace in e.1 %}
        {% include "pages/Modals/EnlacesArchivosModal.html" %}
        {% if enlace.4 == anuncio.0 %}
          <button type="button" class="boton_modales mt-1 mb-1" data-bs-toggle="modal" data-bs-target="#Enlaces{{ enlace.0 }}">
            <i class="bi bi-link-45deg"></i> {{ enlace.1 }}
          </button>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% for documents in archivos %}
        {% for archivo in documents.1 %}
        {% include "pages/Modals/verDocumentosModal.html" %}
        {% if archivo.4 == anuncio.0 %}
          <button type="button" class="boton_modales mt-1 mb-1" data-bs-toggle="modal" data-bs-target="#Archivos{{ archivo.0 }}">
            <i class="bi bi-file-earmark-medical-fill"></i> {{ archivo.1 }}
          </button>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </p>
      {% if proyectoDetails.0.8 == False %}
      <div>
        <form
          action="{% url 'ComentarPublicacion' anuncio.0 codigo%}"
          method="post"
          onsubmit="disableButtons()"
        >
          {% csrf_token %}
          <div class="input-group mb-3 input-group">
            <input
              type="text"
              class="form-control px-2"
              placeholder="Comenta..."
              name="comentar"
              required
            />
            <button class="boton_enviar submitBtn" type="submit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="40px"
                viewBox="0 -960 960 960"
                width="40px"
                fill="#FFFFFF"
              >
                <path
                  d="M120-160v-640l760 320-760 320Zm60-93 544-227-544-230v168l242 62-242 60v167Zm0 0v-457 457Z"
                />
              </svg>
            </button>
          </div>
        </form>
      </div>
      {% endif %}
      {% for comentario in comentarios %}
      {% for a in comentario.1 %}
      {% if a.6 == anuncio.0 %}
      <div class="tarjetaComentarios mt-2">
        <div class="correguir">
          <div class="icono"><span class="material-symbols-outlined"> account_circle </span></div>
          <div class="columna">
            <div class="titulo-2">{{a.4}} {{a.5}}</div>
            <div class="fecha" id="utc-time">
              {{a.3}}{% if a.2 != a.3 %} (Editado){% endif %}
            </div>
          </div>
          {% include "pages/Modals/EditarComentarioAnuncio.html" %}
          {% if layout.0 == "Alumno" and a.7 == layout.8 and proyectoDetails.0.8 == False %}
          <div class="p-2 ms-auto comentarioConfig"><a href="" data-bs-toggle="modal" data-bs-target="#Comentario{{a.0}}" title="Editar"><i class="bi bi-pencil"></i></a> <a href="" onclick="eliminar(event, this);" data-url="{% url 'eliminarComentario' a.0 codigo %}" class="Eliminar" title="Eliminar"><i class="bi bi-trash"></i></a></div>
          {% elif layout.0 == "Profesor" and proyectoDetails.0.8 == False %}
          <div class="p-2 ms-auto comentarioConfig"> 
            {% if a.8 == layout.8 %}
            <a href="" data-bs-toggle="modal" data-bs-target="#Comentario{{a.0}}" title="Editar"><i class="bi bi-pencil"></i></a>
          {% endif %} <a href="" onclick="eliminar(event, this);" data-url="{% url 'eliminarComentario' a.0 codigo %}" class="Eliminar" title="Eliminar"><i class="bi bi-trash"></i></a></div>{% endif %}
        </div>
        <p class="texto">{{a.1}}</p>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %} 
      
    </div>
    {% empty %} {% endfor %}
  </div>
</div>
<script src="{% static 'javascripts/Proyectos/ProyectoDetail.js' %}"></script>
<script src="{% static 'javascripts/Modals/youtube.js' %}"></script>
<script src="{% static 'javascripts/Modals/youtubeshort.js' %}"></script>
{% endblock %}
