{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/articulo.css' %}">
<div class="">
    <h1 class="titulo text-center">Titulo</h1>
    <div class="autor text-center">Autor | Autor</div>
    <div class="mb-3 fecha text-center">Fecha de publicacion</div>
    <div class="contenido">Anim ex do exercitation culpa Lorem anim quis voluptate enim dolor. Tempor officia nisi dolor consequat ullamco sint ipsum adipisicing. Cupidatat ullamco aliqua esse veniam. Anim elit proident irure Lorem consequat exercitation non. Aute commodo consectetur proident qui irure ut veniam occaecat voluptate eiusmod sunt.

Irure ex ad qui enim mollit. Occaecat nulla aliquip ea commodo. Consectetur laborum labore et eiusmod reprehenderit ipsum minim culpa. Enim qui officia non ullamco sit qui sit occaecat aliquip ut ea fugiat laborum. Laboris fugiat sit eiusmod consequat occaecat nostrud commodo in nostrud commodo nulla duis consequat labore. Aliquip cillum ad reprehenderit magna.

Adipisicing exercitation amet eu qui dolore aliquip eiusmod enim do commodo fugiat irure. Nisi qui eu aliquip Lorem ea anim culpa consequat. Ullamco nostrud sint officia mollit reprehenderit. Tempor ullamco ad in aute occaecat. Dolore est velit sint ut in eu elit sunt.

Culpa in anim minim aute mollit officia cupidatat sunt aliqua quis laboris id qui reprehenderit. In nostrud duis aliqua ea officia. Culpa pariatur velit id enim sint ut officia duis do occaecat. Non dolore qui nulla incididunt nisi esse eiusmod laboris reprehenderit. Ut consectetur laboris exercitation ullamco laborum enim reprehenderit sit exercitation officia exercitation sint irure.

Consectetur labore ipsum ex mollit esse cillum ea amet velit duis sit commodo. Nulla laborum in ex aute consequat nulla fugiat ad pariatur veniam aliqua minim cillum. Qui excepteur mollit laboris excepteur ea nostrud dolor elit incididunt voluptate qui aliqua. Nostrud eiusmod id proident pariatur non Lorem consequat. Et ad et qui ex proident esse duis in ea laborum laboris. Mollit minim minim quis quis non laboris. Ea dolore in amet fugiat deserunt velit laborum sint duis.

Tempor eu sit officia proident nisi labore ullamco. Ad ex fugiat labore reprehenderit fugiat dolore officia enim tempor magna commodo qui. Amet irure adipisicing proident eu quis cillum excepteur dolor voluptate. Ipsum minim in incididunt est sit nulla est consequat fugiat laboris amet enim ipsum.

In pariatur commodo consectetur proident ullamco. Amet aute occaecat consequat elit reprehenderit ipsum enim minim officia ex. Officia consectetur velit veniam enim eiusmod esse dolor. Consequat aliqua culpa labore incididunt quis dolor enim dolor id exercitation occaecat exercitation proident adipisicing. Cillum in voluptate ex magna deserunt labore esse.

Quis ullamco consectetur cillum sint exercitation consequat do Lorem. Adipisicing amet esse cupidatat ex est amet non. Minim id aute culpa labore consequat dolor minim. Consectetur deserunt aute do veniam ea proident nulla incididunt elit minim. Exercitation id commodo excepteur ut veniam fugiat proident magna mollit culpa reprehenderit.

Mollit sit exercitation cillum consequat excepteur. Cillum laboris consectetur do sint exercitation eiusmod exercitation dolor magna dolore. Occaecat occaecat proident cillum enim exercitation culpa consequat non incididunt anim ullamco anim. Quis sunt irure magna ea est officia. Do in excepteur cupidatat aute quis aliquip excepteur veniam sint exercitation duis id dolor. Minim nostrud fugiat laborum mollit reprehenderit adipisicing dolore dolore labore duis labore cillum deserunt tempor. Incididunt ex laborum sunt cupidatat nulla dolor.

Aliqua esse aliquip reprehenderit duis fugiat deserunt consectetur ad ea. Aute amet ex dolore tempor quis aliqua est qui ullamco Lorem reprehenderit. Lorem in anim sit eiusmod culpa. Id enim eu dolor irure duis anim. Qui nostrud amet ad sunt excepteur eu adipisicing elit duis. Id ut nulla amet ut id fugiat.</div>
</div>
<div>Cita: Autor, año, libro</div>
{% endblock %}