{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/articulos.css' %}">
<div class="row">
    <a class="card col-sm mb-3 ms-3 text-center articulo" href="{% url 'articulo' %}">
        <div class="card-body">
            <img src="https://via.placeholder.com/150" class="img-fluid">
        </div>
        <div class="card-footer text-body-secondary">
            <div class="titulo">Titulo</div>
            <div class="autor">Autor | Autor</div>
            <div>Fecha publicacion</div>
        </div>
    </a>
    <a class="card col-sm mb-3 ms-3 text-center articulo" href="{% url 'articulo' %}">
        <div class="card-body">
            <img src="https://via.placeholder.com/150" class="img-fluid">
        </div>
        <div class="card-footer text-body-secondary">
            <div class="titulo">Titulo</div>
            <div class="autor">Autor | Autor</div>
            <div>Fecha publicacion</div>
        </div>
    </a>
    <a class="card col-sm mb-3 ms-3 text-center articulo" href="{% url 'articulo' %}">
        <div class="card-body">
            <img src="https://via.placeholder.com/150" class="img-fluid">
        </div>
        <div class="card-footer text-body-secondary">
            <div class="titulo">Titulo</div>
            <div class="autor">Autor | Autor</div>
            <div>Fecha publicacion</div>
        </div>
    </a>
</div>
{% endblock %}