{% extends 'layouts/PWA_BASE.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Confirmar cambio de contraseña</h2>
                    <form method="post" onsubmit="disableButtons()">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary mt-3 submitBtn">Guardar nueva contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'javascripts/General/desactivar.js' %}"></script>
{% endblock %}