{% extends 'layouts/PWA_BASE.html' %}
    {% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/registration/Resetear_Contraseña.css' %}">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Resetear contraseña</h2>
                        <form method="post" onsubmit="disableButtons()" >
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% for field in form %}
                                {% if field.errors %}
                                {% endif %}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary mt-3 me-3 submitBtn">Enviar correo de reseteo</button>
                            <a href="{% url 'Login' %}" class="btn btn-danger mt-3" id="cancelBtn">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'javascripts/General/desactivar.js' %}"></script>
{% endblock %}
