{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro Profesor</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Registro/FormularioProfesor.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">¡Bienvenido profesor(a) {{ nombre_usuario }}!</h2>
                        <p class="text-center mb-4">Por favor, complete su registro.</p>
                        <form method="post"  onsubmit="disableButtons()">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="nombre" class="form-label">Nombre(s):</label>
                                    {{ form.nombre }}
                                    {% if form.nombre.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ form.nombre.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <label for="apellidos" class="form-label">Apellido(s):</label>
                                    {{ form.apellidos }}
                                    {% if form.apellidos.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ form.apellidos.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="idmex_dni" class="form-label">IDMEX/DNI:</label>
                                    <div class="input-group">
                                        {{ form.idmex_dni }}
                                        {% if form.idmex_dni.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.idmex_dni.errors.0 }}
                                        </div>
                                        {% endif %}
                                        <span tabindex="0" class="input-group-text" data-bs-toggle="popover"
                                            data-bs-trigger="focus"
                                            data-bs-content="Son los 10 dígitos después de la palabra IDMEX que se encuentran en la parte posterior de tu INE.">
                                            <i class="bi bi-question-circle-fill"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="universidad_origen" class="form-label">Universidad de origen:</label>
                                    <div class="input-group">
                                        {{ form.universidad_origen }}
                                        {% if form.universidad_origen.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.universidad_origen.errors.0 }}
                                        </div>
                                        {% endif %}
                                        <span tabindex="0" class="input-group-text" data-bs-toggle="popover"
                                            data-bs-trigger="focus"
                                            data-bs-content="Seleccione el nombre de la universidad a la cual está inscrito.">
                                            <i class="bi bi-question-circle-fill"></i>
                                        </span>
                                        <button type="button"
                                            class="btn btn-plus btn-warning btn-sm ms-2 fw-bold"
                                            data-bs-toggle="modal"
                                            data-bs-target="#otherUniversityModal">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="genero" class="form-label">Género:</label>
                                    <div class="input-group">
                                        {{ form.genero }}
                                        {% if form.genero.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.genero.errors.0 }}
                                        </div>
                                        {% endif %}
                                        <span tabindex="0" class="input-group-text" data-bs-toggle="popover"
                                            data-bs-trigger="focus" data-bs-content="Seleccione su género.">
                                            <i class="bi bi-question-circle-fill"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-start ">
                                <button type="submit" class="btn btn-primary me-2 submitBtn">Enviar</button>
                                <a href="{% url 'logout' %}" class="btn btn-danger" id="cancelBtn">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Incluir el modal -->
    {% include 'pages/Modals/AgregarUniversidad.html' %}
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    title: 'Éxito',
                    text: "{{ m }}",
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 5000, // Redirigir después de 5 segundos
                    allowOutsideClick: true, // Permitir clics fuera del SweetAlert
                }).then((result) => {
                    // Redirigir cuando el SweetAlert se cierre
                    window.location.href = "{% url 'ProfesorDatosPersonales' %}";
                });

                // También puedes usar el evento swal-overlay-click
                Swal.getPopup().addEventListener('click', function() {
                    window.location.href = "{% url 'ProfesorDatosPersonales' %}";
                });
            </script>
        {% endfor %}
    {% endif %}

    <script src="{% static 'vendor/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'javascripts/General/desactivar.js' %}"></script>
    <script src="{% static "javascripts/Registro/FormularioProfesor.js" %}">
    </script>
</body>

</html>
