.titulo{
    background-color: #36A0ED;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.tarjeta{
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: rgb(240, 240, 240);
    text-align: center;
}
.titulo-2{
    font-weight: bold;
    font-size: 20px;
}
.boton_unirse{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #36A0ED;
    padding: 5px 15px 5px 15px;
    border: 0px;
    text-decoration: none;
}
.boton_unirse:hover{
    background-color: #077fd5;
}
.icono{
    background-color: #36A0ED;
    width: 35px;
    height: 15%;
    border-radius: 25px;
    color: white;
    padding-top: 3px;
}
.correguir{
    display: flex;
    text-decoration: none;
}
.columna{
    display: flex;
    flex-direction: column;
}
.subtexto-1{
    font-weight: bold;
    font-size: 15px;
    padding-left: 20px;
    color: black;
}
.subtexto-2{
    font-weight: bold;
    font-size: 15px;
}
.fecha{
    font-weight: bold;
    font-size: 15px;
    color: gray;
}
.boton_enviar{
    background-color: #36A0ED;
    color: white;
    border: 0px;
    border-radius: 50%;
    font-size: 20px;
    width: 50px;
}
.boton_enviar:hover{
    background-color: #077fd5;
}
.texto{
    font-size: 20px;
    text-align: justify;
}
.tarjetaComentarios{
    border-radius: 10px;
    width: 100%;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 1px;
    padding-right: 10px;
    background-color: rgb(222, 222, 222);
}
.comentarioConfig{
    font-size: 20px;
    color: gray;
    text-decoration: none;
}
/*!ocultar*/
input[type="file"] {
    display: none;
}

.custom-file-upload {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #36A0ED;
    padding: 5px 15px 5px 15px;
    border: 0px;
    text-decoration: none;
}

.custom-file-upload:hover {
    background-color: #077fd5;
}
.boton_modales{
    font-size: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: #36A0ED;
    color: #36A0ED;
}
.boton_modales:hover {
    background-color: #36A0ED;
    color: white;
}

/**Visualizar img*/
.preview-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.preview-item img {
    max-width: 100px;
    margin-right: 10px;
}
