{% extends 'layouts/baseAdmin.html' %}
{% block content %}
{% load static %}
{% include "pages/Modals/EditarMaterial_Modal.html"%}

<link rel="stylesheet" href="{% static 'css/Materiales/MaterialesModal1.css' %}">
<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <!-- Sidebar items here -->
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2 text-primary"><strong>Tema:</strong> {{ material.3 }}</h1>
                {% if request.user.rol.nombre == "Profesor" %}
                <div>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#editarMaterialModal" title="Editar">
                        <i class="bi bi-pencil"></i>
                    </a>

                    <a href="" onclick="eliminar(event, this);" data-url="{% url 'eliminar_material' material.0  %}" class="Eliminar" title="Eliminar"><i class="bi bi-trash"></i>
                    </a> 

                </div>
                {% endif %}
                <button class="btn btn-dark" onclick="window.history.back();">Volver</button>
            </div>

            <div class="mb-3">
                <ul class="list-group shadow-lg">
                    <li class="list-group-item bg-light text-dark">{{ material.1 }} {{ material.2 }} • {{ material.5 }}
                    </li>
                </ul>
            </div>

            {% if material %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4 shadow-lg border-primary">
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item bg-light text-dark">
                                    {{ material.4 }}
                                    <br>
                                    {% for linkss in mostrar_links %}
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#linkModal"
                                        data-link="{{ linkss.2 }}">{{ linkss.1 }} | {{ linkss.2 }}</a>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Mostrar archivos adjuntos -->
                    <div>
                        <h2>Archivos adjuntos</h2>
                        <ul>
                            {% for archivo in archivos %}
                            <li><a href="{{ archivo.path.url }}">{{ archivo.path.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="container">
                        <div class="mb-4">
                            <h4 class="text-success">Comentarios Privados</h4>
                            {% if layout.0 == "Alumno" %}
                            <h6 class="text-muted"><u>Agrega un comentario privado a {{ material.1 }} {{ material.2}}</u></h6>
                            {% endif %}
                            <div id="comentarios-container">
                                {% for comenspriv in comenPriv %}
                                <div class="comentario" data-id="{{ comenspriv.0 }}">

                                    <p class="font-weight-bold">{{ comenspriv.4 }} {{ comenspriv.5 }}</p>
                                    <p class="text-muted">{{ comenspriv.3 }}</p>
                                    <div>{{ comenspriv.1 }}</div>
                                    <br>
                                    {% if layout.0 == "Profesor" %}
                                    {% include "pages/Modals/ViPrMateriales.html" %}
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#Comentario{{comenspriv.0}}"
                                        title="Responder" class="btn btn-outline-primary btn-sm ms-2">Responder</a>
                                    {% endif %}
                                </div>
                                {% endfor %}
                                {% if layout.0 == "Alumno" %}
                                <form action="{% url 'comentarioPrivMaterial' material.0 layout.8 %}" method="post"
                                    class="d-flex">
                                    {% csrf_token %}
                                    <input type="text" name="comentPriv"
                                        placeholder="Comenta al profesor {{ material.1 }} {{ material.2 }}"
                                        class="form-control me-2" required>
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>




                    <br>
                    <h4 class="text-primary">Comentarios de la Clase</h4>
                    <form action="{% url 'MaterialComentarios' material.0 %}" method="post" onsubmit="disableButtons()">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control px-2 shadow-sm" placeholder="Comenta..."
                                name="comentar" required />
                            <button class="btn btn-primary shadow-sm submitBtn" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30"
                                    fill="#FFFFFF">
                                    <path d="M2 2v20l20-10L2 2z" />
                                </svg>
                            </button>
                        </div>
                    </form>

                    {% for comentario in mostrar_comentarios %}
                    <div class="card mb-3 shadow-lg border-secondary">
                        {% if layout.0 == "Alumno" and layout.8 == comentario.6 %}
                        <div class="p-2 ms-auto comentarioConfig"></div>
                        {% elif layout.0 == "Profesor"%}
                        <div class="p-2 ms-auto comentarioConfig">
                            {% if comentario.7 == layout.8 %}
                            
                            {% endif %}
                        </div>{% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{ comentario.4 }} {{ comentario.5 }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ comentario.2 }}</h6>
                            <p class="card-text">{{ comentario.1 }}</p>
                            <p class="card-text text-muted">{{ comentario.3 }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="alert alert-warning" role="alert">
                No se encontraron detalles del material.
            </div>
            {% endif %}
        </main>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="linkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        <!-- Cambia el max-width según lo necesites -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="linkModalLabel">Detalles del Enlace</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe id="linkModalIframe" src="" style="width: 100%; height: 400px; border: none;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="{% static 'javascripts/Modals/youtube.js' %}"></script>

<script src="{% static 'javascripts/Actividades/MultiEnvio.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var linkModal = document.getElementById('linkModal');
        linkModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; // Botón que disparó el modal
            var link = button.getAttribute('data-link'); // Enlace del botón

            var modalIframe = linkModal.querySelector('#linkModalIframe');
            modalIframe.src = link;
        });
    });
</script>

<script src="{% static 'javascripts/Materiales/eliminarMaterial.js' %}"></script>

{% endblock %}