.titulo{
    background-color: teal;
}
.boton_unirse{
    background-color: teal;
}
.boton_unirse:hover{
    background-color: rgb(0, 84, 84);
}
.icono{
    background-color: teal;
}
.boton_enviar{
    background-color: teal;
}
.boton_enviar:hover{
    background-color: rgb(0, 84, 84);
}
.boton{
    background-color: teal;
}
.boton:hover{
    background-color: rgb(0, 84, 84);
}
.tema{
    color: teal;
}
.nav-link{
    color: teal;
}
.boton_modales{
    border-color: teal;
    color: teal;
}
.boton_modales:hover {
    background-color: teal;
}