.titulo{
    background-color: #004225;
}
.boton_unirse{
    background-color: #004225;
}
.boton_unirse:hover{
    background-color: #002716;
}
.icono{
    background-color: #004225;
}
.boton_enviar{
    background-color: #004225;
}
.boton_enviar:hover{
    background-color: #002716;
}
.boton{
    background-color: #004225;
}
.boton:hover{
    background-color: #002716;
}
.tema{
    color: #004225;
}
.nav-link{
    color: #004225;
}
.nav-link:hover{
    color: #002716;
}
.cardh:hover{
    background: #d0eee0;
}
.nav-pills .nav-link.active {
    background-color: #004225; /* Cambia este valor al color deseado */
    color: #fff; /* Cambia este valor al color de texto deseado */
}
.nav-pills .nav-link.active:hover {
    background-color: #002716; /* Cambia este valor al color deseado */
    color: #fff; /* Cambia este valor al color de texto deseado */
}
.boton_modales{
    border-color: #004225;
    color: #004225;
}
.boton_modales:hover {
    background-color: #004225;
}