{% extends 'layouts/baseAdmin.html' %}
{% load static %}
{% block content %}
{% include "pages/FasesCoil/fasesBase.html" %}
<div class="row row-cols-1 row-cols-md-3 g-4 text-center">
    {% for actividad in actividades %}
    <div class="col">
        <a href="{% url 'ViAlActividades' actividad.0 %}" class="text-decoration-none text-dark">
            <div class="card h-100 my-4 cardh">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="icono"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23"
                                fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                                <path
                                    d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                                <path
                                    d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                            </svg> </div> {{ actividad.1 }}
                    </h5>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary fs-6">Publicado el: {{ actividad.3 }}</small>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
    {% for material in materiales %}
    <div class="col">
        <a href="{% url 'ViAlMateriales' material.0 %}" class="text-decoration-none text-dark">
            <div class="card h-100 my-4 cardh">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                                class="bi bi-lightbulb" viewBox="0 0 16 16">
                                <path
                                    d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1" />
                            </svg>
                        </div> {{ material.1 }}
                    </h5>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary fs-6">Publicado el: {{ material.2 }}</small>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}