{% extends 'layouts/baseAdmin.html' %}
{% load static %}
{% block content %}
{% include "pages/Modals/AgregarEnlaceAnuncio.html" %}
<link rel="stylesheet" href="{% static 'css/ForoProyecto/EditarAnuncio.css' %}" />
<div>
    <a href="{% url 'ProyectoDetail' codigo %}" class="btn btn-secondary mb-2">Volver</a>
    <h5 class="ms-2">Editar publicacion</h5> 
    <div class="text-center mt-2 mb-2">
        <form action="{% url 'editarPost' anuncio.0 codigo %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <textarea name="editPost" class="form-control" rows="5" placeholder="Comenta..."
                    >{{anuncio.1}}</textarea>
            </div>
            <div class="mb-1">
                <a type="button" class="btn btn-success ms-2" href="" data-bs-toggle="modal" data-bs-target="#Enlaces"><i
                        class="bi bi-link-45deg"></i> Enlaces</a>
                <label for="files" class="custom-file-upload boton btn btn-primary">
                    <i class="bi bi-journals"></i> Archivos
                </label>
                <input type="file" class="archivos" id="files" name="files" multiple>
            </div>
            <div class="container mb-3">
                <ul id="enlacesList" class="list-group"></ul>
            </div>
            <div id="preview" style="text-align: left;"></div>
            <div class="container mb-3">
                <ul id="newEnlacesListEdit" class="list-group"></ul>
            </div>
            <div style="text-align: left;">
                <div class="container mb-3">
                    <p>Enlaces</p>
                    <ul id="enlacesListEdit" class="list-group">
                        {% for link in enlaces %}
                        <span>
                            <strong>{{ link.1 }}</strong> <a href="{{ link.2 }}" target="_blank">{{ link.2 }}</a>
                            <button class="btn btn-sm btn-warning edit-btn" data-id="{{ link.0 }}"
                                data-title="{{ link.1 }}" data-link="{{ link.2 }}">Editar</button>
                            <button class="btn btn-sm btn-danger delete-btn delete-link"
                                data-id="{{ link.0 }}">Eliminar</button>
                        </span>
                        {% endfor %}
                    </ul>
                </div>
                <div id="archivosPost">
                    <p>Archivos</p>
                    {% for docs in archivos %}
                    <p>
                        <embed src="{% get_media_prefix %}{{ docs.2 }}" alt="{{ docs.1 }}"
                            style="width:10%; height:50px;">
                        <span>{{ docs.1 }}</span>
                        <button class="btn btn-danger ms-2 me-2 delete-doc" data-id="{{ docs.0 }}">Eliminar</button>
                    </p>
                    {% endfor %}
                </div>
                <div id="hiddenInputsContainer"></div>
            </div>
            <button class="btn btn-primary" type="submit"><i class="bi bi-floppy"></i> Guardar</button>
        </form>
    </div>
</div>
<script src="{% static 'javascripts/Modals/EditarAnucio.js' %}"></script>
{% endblock %}