body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .line {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 20px;
    font-weight: bold;
}

section hr {
    border: 0;
    height: 3px;
    background-color: #000;
    margin: 10px 0;
}

section p, section ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
}

ul li {
    margin-bottom: 5px;
}