.titulo{
    background-color: #36A0ED;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.boton{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #36A0ED;
    padding: 5px 15px 5px 15px;
    border: 0px;
}
.boton:hover{
    background-color: #077fd5;
}
.tema{
    color: #077fd5;
    font-weight: bold;
    font-size: 30px;
}
.icono{
    background-color: #36A0ED;
    width: 35px;
    height: 15%;
    border-radius: 25px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.titulo-2{
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.fecha{
    font-weight: bold;
    font-size: 15px;
    color: gray;
}
.opciones-ocultas {
    display: none;
}
.opciones-visibles {
    display: block;
}
.navegacion{
    text-decoration: none;
}
.cardh:hover{
    background: #c7e8ff;
}