{% load static %}
{% if proyectoDetails.0.9 == "violeta" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/violeta.css' %}">
{% elif proyectoDetails.0.9 == "azul" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/azul.css' %}">
{% elif proyectoDetails.0.9 == "rojo" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/rojo.css' %}">
{% elif proyectoDetails.0.9 == "verde" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/verde.css' %}">

{% elif proyectoDetails.0.9 == "azulOscuro" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/azulOscuro.css' %}">
{% elif proyectoDetails.0.9 == "celeste" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/celeste.css' %}">
{% elif proyectoDetails.0.9 == "chocolate" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/chocolate.css' %}">
{% elif proyectoDetails.0.9 == "dorado" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/dorado.css' %}">
{% elif proyectoDetails.0.9 == "purpura" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/purpura.css' %}">
{% elif proyectoDetails.0.9 == "rojoOscuro" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/rojoOscuro.css' %}">
{% elif proyectoDetails.0.9 == "rosa" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/rosa.css' %}">
{% elif proyectoDetails.0.9 == "salmon" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/salmon.css' %}">
{% elif proyectoDetails.0.9 == "verdeClaro" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/verdeClaro.css' %}">
{% elif proyectoDetails.0.9 == "verdeOscuro" %}
<link rel="stylesheet" href="{% static 'css/Proyectos/Temas/verdeOscuro.css' %}">
{%endif%}
<h2 style="text-align: center;">{{proyectoDetails.0.1}}</h2>
<div>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link {% if enlace_activo == 'coil' %}active{% endif %}" href="{% url 'IntroduccionCoil' codigo %}">Introducción</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if enlace_activo == 'active' %}active{% endif %}" href="{% url 'EditDatosProfesor' codigo %}">Presentación profesor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if enlace_activo == 'tareas' %}active{% endif %}" href="{% url 'FasesCoil' codigo %}">Fases Coil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if enlace_activo == 'personas' %}active{% endif %}" href="{% url 'ListaAlumnosProfesores' codigo %}">Personas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if enlace_activo == 'tablon' %}active{% endif %}" href="{% url 'ProyectoDetail' codigo %}">Foro</a>
        </li>
        {% if layout.0 == "Profesor" %}
        <li class="nav-item">
            <a class="nav-link {% if enlace_activo == 'calificaciones' %}active{% endif %}" href="{% url 'SeguimientoActividad' codigo %}">Revisar Actividades</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link {% if enlace_activo == 'configurar' %}active{% endif %}" href="{% url 'ConfiguracionProyecto' codigo %}"><span class="material-symbols-outlined">
                    settings
                </span></a>
        </li>
        {% endif %}
    </ul>
</div>